@charset "UTF-8";

.content h1 {
  background: url(../images/site5/h1-bg2.png) no-repeat;
}
.set-drink {
  margin: 30px 0 0;
  padding: 30px;
  border: 3px dotted #a9cfec;
  border-radius: 20px;
  background-color: #f6f4f2;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}
table th {
  background: url(../images/site5/table-bg.jpg);
}
table tr:nth-child(odd) {
  background-color: #f6f4f2;
}
table td,
table th {
  border: 1px solid #c3bab2;
  padding: 15px;
  vertical-align: top;
}
table tr td:first-child,
table tr td:last-child {
  white-space: nowrap;
}
table tr td:first-child {
  font-weight: bold;
}
table tr td:last-child {
  text-align: right;
}
