body {
  background-color: #f5f3eb ;
}
.wrapper {
  width: 900px ;
  margin: 0 auto ;
}
h1 {
  margin: 30px 0 30px 0;
  text-align: center;
}
h2 {
  color: #442220 ;
  font-size:18px ;
  padding: 10px ;
  border-bottom: 2px dotted #442220 ;
  margin: 20px 0 20px 0 ;
}
p {
  line-height: 160% ;
}
a {
  text-decoration: none ;
}
a:link, a:visited {
  color: #6aa4d6 ;
}
a:hover {
  color: #4f7697 ;
}
a:active {
  color: #aed3f2 ;
}
#nav {
  padding: 15px 30px 10px ;
  margin-bottom: 10px;
  background-image: url('../images/site4/menu-bg.png') ;
}
#nav li {
  display: inline ;
  padding-right: 30px ;
}
#nav li a:link,
#nav li a:visited {
  color: #f5f3eb ;
}
#nav li a:link {
  color: #e4dbb9 ;
}
#nav li a:link {
  color: #fff ;
}
.keyvisual {
  margin: 20px 0 0 ;
}
/* about */
.float img{
  float: left ;
  padding-right: 1em ;
}
.clearfix {
  clear: both ;
}
.info {
  border-collapse: collapse ;
  border: 1px solid #b78c5f ;
}
.info th, .info td {
  padding: 8px ;
  border: 1px solid #d6c2b5 ;
  text-align: left;
  vertival-align: middle ;
}
table.info th {
  background-color: #c99e73 ;
  color: #442220 ;
}
/* menu */
.menu_block {
  overflow: hidden ;
}
.menu_all {
  border: none ;
  border-collapse: collapse ;
}
.menu_all .photo {
  padding: 0 10px 10px 0 ;
}
.menu_left {
  float: left ;
  width: 280px ;
  margin-right: 20px ;
}
.menu_left td {
  vertical-align: middle;
}
.menu_right {
  float: left ;
  width: 600px ;
}
.menu_right h3 {
  margin: 20px 0 ;
  text-align: right ;
  font-size: 16px ;
  color: #442220 ;
}
.menu_right p {
  text-align: right ;
  font-size: 12px ;
}
/* map */
.map {
  text-align: center ;
}
#footer {
  background: url('../images/site4/footer-bg.png') repeat-x ;
  padding: 20px 0;
  margin-top: 30px ;
  font-size: smaller ;
  color: #442220 ;
}
form div {
  padding: 12px ;
  border-bottom:  1px dashed #d6c2b5 ;
}
select {
  width: 30em ;
}
label {
  color: #442220 ;
}
input[name=subject] {
  width: 30em ;
}
textarea {
  width: 30em ;
  height: 6em ;
}
input[name=submit] {
  margin: 20px 12px ;
  width: 30em ;
}
