doctype html
html(lang="ja" dir="ltr")
head
  meta(name="content" description="サンプルランディングページです。")
  link(rel="stylesheet" href="../../css/reset_original.css")
  link(rel="stylesheet" href="style.css")
  title HOUND
body
  header
  main
  footer

      
