@charset "UTF-8";

body {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  background: #eee;
}
main {
  width: 270px;
  padding: 15px;
  margin: 20px auto;
  background: #fff;
  text-align: center;
}
#timer {
  height: 120px;
  line-height: 120px;
  margin-bottom: 15px;
  background: #ddd;
  font-size: 40px;
}
.btn {
  width: 80px;
  height: 45px;
  line-height: 45px;
  background: #ddd;
  font-weight: bold;
  cursor: pointer;
  uesr-select: none;
}
.controls {
  display: flex;
  justify-content: space-between;
}
.inactive {
  opacity: 0.6;
}
