
- var slick = "js/slick/slick.css";
- var slick_theme = "js/slick/slick-theme.css";

  meta(charset="UTF-8")
  meta(name="discription" content="プログラミング/ボイストレーニングの上達ノウハウを公開")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title トップページ | UNI-BEAR SITE
  link(rel="stylesheet" href=slick)
  link(rel="stylesheet" href=slick_theme)
  link(rel="stylesheet" href="css/reset_original.css")
  link(rel="stylesheet" href="css/main.css")
  link(rel="icon" href="images/favicon.ico")
  link(href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet")
  script(src="https://kit.fontawesome.com/421841d6a1.js" crossorigin="anonymous")